@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

// $soft-white: #f2f3f6;
$soft-white: white;
$soft-gray: #e8eaef;
$box-shadow: 3px 9px 9px 0px rgba(192, 192, 192, 0.45);

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
